

/* Typography */
:is(h1, h2, h3, h4, h5, h6),
.content > section > .heading-wrapper {
	margin-bottom: 1rem;
	font-weight: bold;
	line-height: 1.3;
}

:is(h1, h2, h3, h4, h5, h6) + *,
.content > section > .heading-wrapper + * {
	margin-top: 0;
}

h1,
h2 {
	max-width: 40ch;
}

:is(h2):not(:first-child),
.heading-wrapper:not(:first-child):is(.level-h2) {
	margin-top: 4rem;
}

:is(h3, h4):not(:first-child),
.heading-wrapper:not(:first-child):is(.level-h3, .level-h4) {
	margin-top: 3rem;
}

:is(h5, h6):not(:first-child),
.heading-wrapper:not(:first-child):is(.level-h5, .level-h6) {
	margin-top: 2rem;
}

:is(h1, h2, h3, h4, h5, h6, .heading-wrapper)
	+ :is(h1, h2, h3, h4, h5, h6, .heading-wrapper):not(:first-child) {
	margin-top: 0;
}

:is(h1, h2, h3, h4, h5) code {
	--border-radius: 4px;
	--padding-block: 0.1rem;
	--padding-inline: 0.4rem;
	font-weight: 400;
}

h1 {
	font-size: 2.5rem; /* 40px */
	font-weight: 900;
}

@media (min-width: 37.75em) {
	h1 {
		font-size: 3rem; /* 48px */
	}
}

h2 {
	font-size: 1.875rem; /* 30px */
}

h3 {
	font-size: 1.5rem; /* 24px */
}

h4 {
	font-size: 1.25rem; /* 20px */
}

h5 {
	font-size: 1rem; /* 16px */
}

.heading-wrapper {
	--icon-size-x: 2rem;
	--icon-size-y: 1.5rem;
	margin-inline-end: var(--icon-size-x);
}

.heading-wrapper:not(:first-child) {
	margin-block: 0;
}

.heading-wrapper > * {
	display: inline;
	margin-bottom: 0;
}

.heading-wrapper > .anchor-link {
	position: relative;
	display: inline-flex;
	margin-inline-end: calc(-1 * var(--icon-size-x));
	width: var(--icon-size-x);
	height: var(--icon-size-y);
	color: var(--theme-text-light);
	text-decoration: none;
	justify-content: center;
	vertical-align: baseline;
}

/* Float anchor links to the left of headings on larger screens. */
@media (min-width: 50em) {
	.heading-wrapper {
		display: flex;
		flex-direction: row-reverse;
		justify-content: flex-end;
		align-items: baseline;
		margin-inline-start: calc(-1 * var(--icon-size-x));
	}

	.heading-wrapper > .anchor-link {
		margin-inline-end: 0;
	}
}

.heading-wrapper > .anchor-link {
	opacity: 0.5;
}

@media (hover: hover) {
	.heading-wrapper > .anchor-link {
		opacity: 0;
	}
}

.heading-wrapper:hover > .anchor-link,
.anchor-link:focus {
	opacity: 1;
}

p,
.content ul,
.content ol {
	line-height: 1.75;
}

p,
.content ul {
	color: var(--theme-text-light);
}

small,
.text_small {
	font-size: 0.833rem;
}

a {
	color: var(--theme-accent-secondary);
	text-underline-offset: 0.08em;
	align-items: center;
	gap: 0.5rem;
}

article > section :is(ul, ol) > * + * {
	margin-top: 0.25rem;
}

article > section nav :is(ul, ol) > * + * {
	margin-top: inherit;
}

article > section li > :is(p, pre, .expressive-code, blockquote):not(:first-child) {
	margin-top: 1rem;
}

article > section nav :is(ul, ol) {
	padding-inline-start: inherit;
}

article > section nav {
	margin-top: 1rem;
	margin-bottom: 2rem;
}

article > section ::marker {
	font-weight: bold;
	color: var(--theme-text-light);
}

article > section iframe {
	width: 100%;
	height: auto;
	aspect-ratio: 16 / 9;
}

a > code {
	position: relative;
	color: var(--theme-text-accent);
	text-underline-offset: var(--padding-block);
}

a:hover,
a:focus {
	text-decoration: underline;
}

a:focus {
	outline: 2px solid currentColor;
	outline-offset: 0.25em;
}

strong {
	font-weight: 600;
	color: inherit;
}

:root{

      .r {
	    color: var(--sl-color-red);
      }
      .o {
	    color: var(--sl-color-orange);
      }
      .g {
	    color: var(--sl-color-green);
      }
      .s {
	    color: var(--sl-color-text-accent);
      } 
	--sl-text-code-sm: var(--sl-text-base);
	
	--sl-color-accent-low: #232424;
	--sl-color-accent: #666b6a;
	--sl-color-accent-high: #c7c9c9;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e9eef9;
	--sl-color-gray-2: #bcc2d0;
	--sl-color-gray-3: #808ba5;
	--sl-color-gray-4: #4e5870;
	--sl-color-gray-5: #2e384e;
	--sl-color-gray-6: #1e263b;
	--sl-color-black: #141822;

	--c-sl-color-accent-low: #232424;
	--c-sl-color-accent: #666b6a;
	--c-sl-color-accent-high: #c7c9c9;
	--c-sl-color-white: #ffffff;
	--c-sl-color-gray-1: #e9eef9;
	--c-sl-color-gray-2: #bcc2d0;
	--c-sl-color-gray-3: #808ba5;
	--c-sl-color-gray-4: #4e5870;
	--c-sl-color-gray-5: #2e384e;
	--c-sl-color-gray-6: #1e263b;
	--c-sl-color-black: #141822;


	
	
}
:root[data-theme='custom'] {
	--sl-color-accent-low: var(--c-sl-color-accent-low);
	--sl-color-accent: var(--c-sl-color-accent);
	--sl-color-accent-high: var(--c-sl-color-accent-high);
	--sl-color-white: var(--c-sl-color-white);
	--sl-color-gray-1: var(--c-sl-color-gray-1);
	--sl-color-gray-2: var(--c-sl-color-gray-2);
	--sl-color-gray-3: var(--c-sl-color-gray-3);
	--sl-color-gray-4: var(--c-sl-color-gray-4);
	--sl-color-gray-5: var(--c-sl-color-gray-5);
	--sl-color-gray-6: var(--c-sl-color-gray-6);
	--sl-color-gray-7: var(--c-sl-color-gray-7);
	--sl-color-black: var(--c-sl-color-black);
}

:root[data-theme='dark'] {
	--sl-color-accent-low: #232424;
	--sl-color-accent: #666b6a;
	--sl-color-accent-high: #c7c9c9;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #e9eef9;
	--sl-color-gray-2: #bcc2d0;
	--sl-color-gray-3: #808ba5;
	--sl-color-gray-4: #4e5870;
	--sl-color-gray-5: #2e384e;
	--sl-color-gray-6: #1e263b;
	--sl-color-black: #141822;
}


/* Dark mode colors. */

/* Light mode colors. */

:root[data-theme='light'] {
	--sl-color-accent-low: #c7d6ff;
	--sl-color-accent: #364bff;
	--sl-color-accent-high: #182775;
	--sl-color-white: #17181c;
	--sl-color-gray-1: #24272f;
	--sl-color-gray-2: #353841;
	--sl-color-gray-3: #545861;
	--sl-color-gray-4: #888b96;
	--sl-color-gray-5: #c0c2c7;
	--sl-color-gray-6: #eceef2;
	--sl-color-gray-7: #f5f6f8;
	--sl-color-black: #ffffff;
}

/* Dark mode colors. */
:root[data-theme='grey'] {
	--sl-color-accent-low: #122b00;
	--sl-color-accent: #3e7c00;
	--sl-color-accent-high: #b1d59e;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #ffe9db;
	--sl-color-gray-2: #ffac74;
	--sl-color-gray-3: #d36b00;
	--sl-color-gray-4: #884200;
	--sl-color-gray-5: #592900;
	--sl-color-gray-6: #3f1c00;
	--sl-color-black: #2a1000;
}


/* Dark mode colors. */
:root[data-theme='blue'] {
    --sl-color-accent-low: #201b4c;
    --sl-color-accent: #6234f9;
    --sl-color-accent-high: #c0c2ff;
    --sl-color-white: #ffffff;
    --sl-color-gray-1: #dbf2ff;
    --sl-color-gray-2: #70ceff;
    --sl-color-gray-3: #0097ce;
    --sl-color-gray-4: #006084;
    --sl-color-gray-5: #003e56;
    --sl-color-gray-6: #002b3e;
    --sl-color-gray-7: #edf8ff;
    --sl-color-black: #001b29;
}


/* Dark mode colors. */
:root[data-theme='green'] {
	--sl-color-accent-low: #002934;
	--sl-color-accent: #007690;
	--sl-color-accent-high: #a2d1e2;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #c8fdd5;
	--sl-color-gray-2: #93d4a4;
	--sl-color-gray-3: #00a755;
	--sl-color-gray-4: #006a34;
	--sl-color-gray-5: #00451f;
	--sl-color-gray-6: #003014;
	--sl-color-black: #001f0b;
}
/* Light mode colors. */
