@layer zen-mode, starlight, obsidian;

/* .sl-anchor-link {
  margin-inline-start: 0;
  padding-inline-start: 0;
} */
:root {
  /* --sl-sidebar-pad-x: 6.5rem; */
  /* var(--sl-main-pad); */
  /* --sl-text-sm: 1rem;
  --sl-text-base: 1.5rem;
  --sl-line-height-headings: 2;
*/
  /* --sl-content-width: 50rem; */
  --sl-line-height: 2;
  --sl-line-height-headings: 2;
  --sl-font: "Kitab", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;

  /*  --sl-color-accent: #666b6a;
  --sl-color-accent-high: #c7c9c9;
  --sl-color-white: #ffffff;
  --sl-color-gray-1: #e9eef9;
  --sl-color-gray-2: #bcc2d0;
  --sl-color-gray-3: #808ba5;
  --sl-color-gray-4: hsl(222, 18%, 37%); */
  /* --sl-color-gray-5: #2e384e;
  --sl-color-gray-6: #1e263b; */
  /* --sl-color-black: #141822; */
  --sl-color-accent-high: oklch(73.108% 0.09994 163.912);
}

[data-theme="dark"] {
  --sl-color-accent-low: #4e2e2e;
}

[data-theme="light"] {
  --sl-color-accent-low: #f8b3b3;
}
p {
  font-size: 1.5rem;
}
