@font-face {
    font-family: 'Amiri Quran';
    /* Use a relative path to the local font file in `url()`. */
    src: url('./UthmanTN_v2-0.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'hafs';
    /* Use a relative path to the local font file in `url()`. */
    src: url('./UthmanTNB_v2-0.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }