/*- all things equal -*/
s { text-decoration:none; } //strike-through
em { font-style: normal; font-weight: bold; } //italic emphasis


// colors
s { color: green };
em { color: blue };
body {


  --h1-size: 1em;
  --h2-size: 1em;
  --h3-size: 1em;
  --h4-size: 1em;
  --h5-size: 1em;
  --h6-size: 1em;

  --h1-line-height: 1.2;
  --h2-line-height: 1.2;
  --h3-line-height: 1.2;
  --h4-line-height: 1.2;
  --h5-line-height: 1.2;
  --h6-line-height: 1.2;

  --list-indent: 1em;

  --h1-weight: 600;
  --bold-weight: 600;

  --link-color: var(--text-normal);
  --link-color-hover: var(--text-normal);
  --link-external-color: var(--text-normal);
  --link-external-color-hover: var(--text-normal);
  --link-unresolved-color: var(--text-normal);

  --tag-color: var(--text-normal);

  --text-highlight-bg-rgb: 192,192,192;
 
  --code-normal: var(--text-normal);
  --code-comment: var(--text-normal);
  --code-function: var(--text-normal);
  --code-important: var(--text-normal);
  --code-keyword: var(--text-normal);
  --code-operator: var(--text-normal);
  --code-property: var(--text-normal);
  --code-punctuation: var(--text-normal);
  --code-string: var(--text-normal);
  --code-tag: var(--text-normal):
  --code-value: var(--text-normal);
  --code-background: none;
}

/*- no color for numbers in code blocks -*/
.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock > *, 
.token.number {
  color: var(--text-normal);
}

/*- no italic style -*/
.cm-em, em {
  font-style: normal;
  font-weight: 600;
}

/*- monospace font for all editor views -*/
.markdown-source-view.mod-cm6 .cm-scroller, .markdown-preview-view {
  font-family: 'JetBrains Mono'; 
}