---
// Import CSS in frontmatter (this works)

title: "محرر المحتوى";
---

<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>محرر المحتوى</title>
  </head>

  <body>
    <div id="app"></div>
    <script>
      import "/src/styles/main.css";
      import "@fontsource/scheherazade-new";
      import "@fontsource/scheherazade-new/400.css";
      import "@fontsource/scheherazade-new/500.css";
      import "@fontsource/scheherazade-new/600.css";
      import "@fontsource/scheherazade-new/700.css";
      //@ts-ignore
      import { main } from "/src/admin.gleam";
      const dispatch = main({});
    </script>
  </body>
</html>
