---
// Import CSS in frontmatter (this works)
---

<!doctype html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>محرر المحتوى</title>
  </head>

  <body>
    <div id="app"></div>
    <script>
      import "../../styles/main.css";
      import { main } from "/src/admin.gleam";
      const dispatch = main({});
    </script>
  </body>
</html>
